$background-color: #fff;

$color-primary: #1572e8; 
$color-secondary: #dce7f7; 

$color-menubar: #f8f9fa;

$color-success: #28a745;
$color-danger: #dc3545;

$shadow-box: 4px 4px 8px rgba(0, 0, 0, 0.15);

// Navigation colors set
$navigation-colors: (
    primary: #1a4c91,
    secondary: #eef4fc,
    bg-color: #f9fbfe,
    is-active: #155faa,
    is-hover: rgba(58, 124, 190, 0.65) 
);
